**Analysis of Funding Distribution of India Startup**

**BUSINESS UNDERSTANDING**

We are exploring The Indian Startup Ecosystem to understand funding trends and identify promising opportunity. The goal is to analyze funding data from 2018 to 2021, focusing on key factors such as amount of funding received, sectors, stages of investment, and geographic locations.

**HYPOTHESIS TESTING**

Null Hypothesis (H0): There is no significant difference in the amount of funding received by startups across different sectors and stages.
 
Alternate Hypothesis (H1): There is a significant difference in the amount of funding received by startups across different sectors and stages.

**DATA UNDERSTANDING**
COLUMNS
Company_Brand: Name of the startup.
Founded: Year the startup was founded.
HeadQuarter: City where the startup is headquartered.
Sector: Industry sector of the startup.
What_it_does: Brief description of the startup's business.
Founders: Names of the founders.
Investor: Investors or investment firms that funded the startup.
Amount: Amount of funding received (in dollars).
Stage: Stage of investment (e.g., Pre-seed, Seed, Series A).

**ANALYTICAL QUESTIONS**
1. Funding Trends:
How has the total funding amount changed year over year from 2018 to 2021?
How has the average funding amount in each sector changed over the years (2018 - 2021)
 
2. Sector Analysis:
Which sectors have received the most funding, and how does the funding distribution vary across sectors?
 
3.Stage Analysis:
What is the distribution of funding across different investment stages (e.g., Pre-seed, Seed, Series A)?
 
4. Geographical Analysis:
Which cities or regions have the highest concentration of funded startups?
 
5.Investor Influence:
Who are the top investors in the Indian startup ecosystem, and what is their funding pattern?
 
6. Founder Impact:
Is there a correlation between the number of founders and the amount of funding received?
 
7. What are the characteristics of startups in the highest-funded sectors (e.g., number of founders, location)?
 
8. Which Business is more viable to set - The best performing businesses?

In [1]:
%pip install pyodbc  
%pip install python-dotenv
%pip install seaborn
%pip install openpyxl

Requirement already satisfied: pyodbc in c:\users\mercy chebet\appdata\local\programs\python\python312\lib\site-packages (5.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: python-dotenv in c:\users\mercy chebet\appdata\local\programs\python\python312\lib\site-packages (1.0.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: seaborn in c:\users\mercy chebet\appdata\local\programs\python\python312\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\mercy chebet\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in c:\users\mercy chebet\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (2.2.1)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\mercy chebet\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (3.8.4)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\mercy chebet\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\mercy chebet\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\mercy chebet\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\mercy chebet\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\mercy chebet\appdata\roaming\python\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\mercy chebet\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\mercy chebet\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\mercy chebet\appdata\roaming\python\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\mercy chebet\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\mercy chebet\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\mercy chebet\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: openpyxl in c:\users\mercy chebet\appdata\local\programs\python\python312\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\mercy chebet\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pyodbc     
from dotenv import dotenv_values    #import the dotenv_values function from the dotenv package
import pandas as pd
import numpy as np
import warnings 

warnings.filterwarnings('ignore')

In [3]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')

# Get the values for the credentials you set in the '.env' file
server = environment_variables.get("server")
database = environment_variables.get("database")
username = environment_variables.get("username")
password = environment_variables.get("password")

In [4]:
# Create a connection string
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"

In [5]:
# Use the connect method of the pyodbc library and pass in the connection string.
# This will connect to the server and might take a few seconds to be complete. 
# Check your internet connection if it takes more time than necessary

connection = pyodbc.connect(connection_string)

Data Cleaning

**Data 1 (2020)**

In [6]:
# Now the sql query to get the data is what what you see below. 
# Note that you will not have permissions to insert delete or update this database table. 

query = '''SELECT * FROM dbo.LP1_startup_funding2020'''

data = pd.read_sql(query, connection)

In [7]:
data.head(30)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None
5,qZense,2019.0,Bangalore,AgriTech,qZense Labs is building the next-generation Io...,"Rubal Chib, Dr Srishti Batra","Venture Catalysts, 9Unicorns Accelerator Fund",600000.0,Seed,None
6,MyClassboard,2008.0,Hyderabad,EdTech,MyClassboard is a full-fledged School / Colleg...,Ajay Sakhamuri,ICICI Bank.,600000.0,Pre-series A,None
7,Metvy,2018.0,Gurgaon,Networking platform,AI driven networking platform for individuals ...,Shawrya Mehrotra,HostelFund,NaN,Pre-series,None
8,Rupeek,2015.0,Bangalore,FinTech,Rupeek is an online lending platform that spec...,"Amar Prabhu, Ashwin Soni, Sumit Maniyar","KB Investment, Bertelsmann India Investments",45000000.0,Series C,None
9,Gig India,2017.0,Pune,Crowdsourcing,GigIndia is a marketplace that provides on-dem...,"Aditya Shirole, Sahil Sharma","Shantanu Deshpande, Subramaniam Ramadorai",1000000.0,Pre-series A,None
10,Slurrp Farm,2016.0,Gurgaon,Food & Bevarages,Slurrp Farm is a children health food brand.,Meghana Narayan,Fireside Ventures,2000000.0,Series A,None
11,Medfin,2017.0,Bangalore,HealthTech,Medfin is a Discovery platform for medical pro...,"Arjun Kumar, Arun Kumar, Sidharth Gurjar","Axilor Ventures, S.D. Shibulal",NaN,Series A,None
12,MasterG,2015.0,New Delhi,Fashion startup,MasterG is a design and skill development orga...,Gayatri Jolly,Acumen Fund's angel programme,NaN,None,None
13,Brila 91,2014.0,New Delhi,Food & Bevarages,Bira 91 is a craft beer company.,Ankur Jain,"Sequoia Capital India, Sixth Sense Ventures",1200000.0,None,None
14,FoodyBuddy,2015.0,Belgaum,Food Industry,FoodyBuddy is a online food delivery portal,"Akil Sethuraman, Anup Gopinath, Rachna Rao",Rebel Foods,600000.0,None,None
15,Zomato,2008.0,Gurgaon,Food Delivery,Zomato is a food delivery and restaurant disco...,"Deepinder Goyal, Gaurav Gupta, Pankaj Chaddah","Kora, Tiger Global Management",660000000.0,None,None
16,OurEye.ai,2020.0,Bangalore,Virtual auditing startup,Video intelligence solution for Enterprise Sta...,"Miran Junaidi, Saurabh Ghanekar, Sourav Sanyal","100X VC, Amara Ventures",120000.0,None,None
17,Shiprocket,2017.0,New Delhi,E-commerce,Shiprocket helps online retailers simplify the...,"Gautam Kapoor, Saahil Goel, Vishesh Khurana","Bertelsmann India Investments, InnoVen Capital",7500000.0,Series C,None
18,Pine Labs,1998.0,Noida,FinTech,A merchant platform company that provides fina...,Amrish Rau,"Mastercard, Temasek Holdings",NaN,None,None
19,Moneyboxx Finance,2019.0,New Delhi,FinTech,MONEYBOXX FINANCE LTD is committed to providin...,Prashant Agarwal,"BlackSoil, Caspian",1000000.0,None,None
20,EWar,2019.0,Bangalore,Gaming,EWar Games is a e-sports and real-time gaming ...,"Parth Chadha, Rahul Singh","Jindal Steels, Jeet Banerjee",NaN,Pre-series A,None
21,SucSEED Indovation,2016.0,Hyderabad,FinTech,SucSEED INDOVATION FACILITATES ACCESS TO CAPIT...,Vikrant Varshney,None,5000000.0,None,None
22,TaxBuddy.com,2019.0,Mumbai,FinTech,TaxBuddy for any tax related issues.,Sujit Bangar,Zenith Global,1000000.0,None,None
23,Awign Enterprises,2016.0,Bangalore,Work fulfillment,Operations and manpower outsourcing startup,"Annanya Sarthak, Gurpreet Singh, Praveen Sah","Unitus Ventures, Work10M",500000.0,None,None
24,Circle of Angels,2018.0,Gurgaon,FinTech,Circles of Angels aims to solve this issue thr...,Karanpal Singh,None,3000000.0,None,None
25,CoinDCX,2017.0,Mumbai,FinTech,CoinDCX is a company that specializes in crypt...,"Neeraj Khandelwal, Sumit Gupta","Coinbase Ventures, Polychain",10000000.0,Series B,None
26,Glance,2016.0,Bangalore,AI startup,Glance is a screen zero platform that consumer...,Naveen Tewari,Mithril Capital Management.,145000000.0,None,None
27,VerSe Innovation,2007.0,Bangalore,Telecommunication,Owner of Dailyhunt App and I-Pay,Virendra Gupta,Google,100000000.0,None,None
28,Voosh,2020.0,Bangalore,Food Industry,Building India's largest digital food service ...,Priyam Saraswat,Better Capital,NaN,Pre-seed,None
29,Delhivery,2011.0,Gurgaon,E-commerce,Delhivery is a supply chain services company t...,"Kapil Bharati, Mohit Tandon, Sahil Barua, Sura...","Steadview Capital, Canada Pension Plan Investm...",NaN,None,None

In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
## types of data
data.dtypes

Company_Brand     object
Founded          float64
HeadQuarter       object
Sector            object
What_it_does      object
Founders          object
Investor          object
Amount           float64
Stage             object
column10          object
dtype: object

In [10]:
## finding missing values
data.isna().sum

<bound method DataFrame.sum of       Company_Brand  Founded  HeadQuarter  Sector  What_it_does  Founders  \
0             False    False        False   False         False     False
1             False    False        False   False         False     False
2             False    False        False   False         False     False
3             False    False        False   False         False     False
4             False    False        False   False         False     False
...             ...      ...          ...     ...           ...       ...
1050          False     True        False   False         False     False
1051          False     True         True   False         False     False
1052          False    False        False   False         False     False
1053          False    False        False   False         False     False
1054          False    False        False   False         False     False

      Investor  Amount  Stage  column10
0        False   False   True      True
1        False   False  False      True
2        False    True  False      True
3        False   False   True      True
4        False   False   True      True
...        ...     ...    ...       ...
1050     False   False   True      True
1051     False   False  False      True
1052     False   False   True      True
1053     False   False  False      True
1054     False   False  False      True

[1055 rows x 10 columns]>

In [11]:
print(data.isna().sum())

Company_Brand       0
Founded           213
HeadQuarter        94
Sector             13
What_it_does        0
Founders           12
Investor           38
Amount            254
Stage             464
column10         1053
dtype: int64

In [12]:
##duplicates
data.duplicated().sum()

3

In [13]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Founded,842.0,2.015363e+03,4.097909e+00,1973.0,2014.0,2016.0,2018.0,2.020000e+03
Amount,801.0,1.130430e+08,2.476635e+09,12700.0,1000000.0,3000000.0,11000000.0,7.000000e+10

In [14]:
data.info

<bound method DataFrame.info of      Company_Brand  Founded HeadQuarter              Sector  \
0       Aqgromalin   2019.0     Chennai            AgriTech
1         Krayonnz   2019.0   Bangalore              EdTech
2     PadCare Labs   2018.0        Pune  Hygiene management
3            NCOME   2020.0   New Delhi              Escrow
4       Gramophone   2016.0      Indore            AgriTech
...            ...      ...         ...                 ...
1050  Leverage Edu      NaN       Delhi              Edtech
1051         EpiFi      NaN        None             Fintech
1052       Purplle   2012.0      Mumbai           Cosmetics
1053        Shuttl   2015.0       Delhi           Transport
1054         Pando   2017.0     Chennai            Logitech

                                           What_it_does  \
0                          Cultivating Ideas for Profit
1     An academy-guardian-scholar centric ecosystem ...
2      Converting bio-hazardous waste to harmless waste
3                          Escrow-as-a-service platform
4     Gramophone is an AgTech platform enabling acce...
...                                                 ...
1050  AI enabled marketplace that provides career gu...
1051  It offers customers with a single interface fo...
1052         Online makeup and beauty products retailer
1053                    App based bus aggregator serice
1054            Networked logistics management software

                                               Founders  \
0                       Prasanna Manogaran, Bharani C L
1                      Saurabh Dixit, Gurudutt Upadhyay
2                                       Ajinkya Dhariya
3                                         Ritesh Tiwari
4     Ashish Rajan Singh, Harshit Gupta, Nishant Mah...
...                                                 ...
1050                                  Akshay Chaturvedi
1051                    Sujith Narayanan, Sumit Gwalani
1052                          Manish Taneja, Rahul Dash
1053                      Amit Singh, Deepanshu Malviya
1054                     Jayakrishnan, Abhijeet Manohar

                                   Investor      Amount       Stage column10
0                           Angel investors    200000.0        None     None
1                           GSF Accelerator    100000.0    Pre-seed     None
2                            Venture Center         NaN    Pre-seed     None
3       Venture Catalysts, PointOne Capital    400000.0        None     None
4       Siana Capital Management, Info Edge    340000.0        None     None
...                                     ...         ...         ...      ...
1050  DSG Consumer Partners, Blume Ventures   1500000.0        None     None
1051          Sequoia India, Ribbit Capital  13200000.0  Seed Round     None
1052                             Verlinvest   8000000.0        None     None
1053             SIG Global India Fund LLP.   8043000.0    Series C     None
1054                      Chiratae Ventures   9000000.0    Series A     None

[1055 rows x 10 columns]>

In [15]:
data.shape

(1055, 10)

In [16]:
data.nunique()

Company_Brand    905
Founded           26
HeadQuarter       77
Sector           302
What_it_does     990
Founders         927
Investor         848
Amount           300
Stage             42
column10           2
dtype: int64

In [17]:
data.isnull().sum()

Company_Brand       0
Founded           213
HeadQuarter        94
Sector             13
What_it_does        0
Founders           12
Investor           38
Amount            254
Stage             464
column10         1053
dtype: int64

Data Cleaning for Dataset 1

In [18]:
#Drop the Column10 column it has too many NULL values and also in the 2019 data this column is not available  meaning its impact is minimal
 
data.drop('column10' , axis=1, inplace=True)
data.head

<bound method NDFrame.head of      Company_Brand  Founded HeadQuarter              Sector  \
0       Aqgromalin   2019.0     Chennai            AgriTech
1         Krayonnz   2019.0   Bangalore              EdTech
2     PadCare Labs   2018.0        Pune  Hygiene management
3            NCOME   2020.0   New Delhi              Escrow
4       Gramophone   2016.0      Indore            AgriTech
...            ...      ...         ...                 ...
1050  Leverage Edu      NaN       Delhi              Edtech
1051         EpiFi      NaN        None             Fintech
1052       Purplle   2012.0      Mumbai           Cosmetics
1053        Shuttl   2015.0       Delhi           Transport
1054         Pando   2017.0     Chennai            Logitech

                                           What_it_does  \
0                          Cultivating Ideas for Profit
1     An academy-guardian-scholar centric ecosystem ...
2      Converting bio-hazardous waste to harmless waste
3                          Escrow-as-a-service platform
4     Gramophone is an AgTech platform enabling acce...
...                                                 ...
1050  AI enabled marketplace that provides career gu...
1051  It offers customers with a single interface fo...
1052         Online makeup and beauty products retailer
1053                    App based bus aggregator serice
1054            Networked logistics management software

                                               Founders  \
0                       Prasanna Manogaran, Bharani C L
1                      Saurabh Dixit, Gurudutt Upadhyay
2                                       Ajinkya Dhariya
3                                         Ritesh Tiwari
4     Ashish Rajan Singh, Harshit Gupta, Nishant Mah...
...                                                 ...
1050                                  Akshay Chaturvedi
1051                    Sujith Narayanan, Sumit Gwalani
1052                          Manish Taneja, Rahul Dash
1053                      Amit Singh, Deepanshu Malviya
1054                     Jayakrishnan, Abhijeet Manohar

                                   Investor      Amount       Stage
0                           Angel investors    200000.0        None
1                           GSF Accelerator    100000.0    Pre-seed
2                            Venture Center         NaN    Pre-seed
3       Venture Catalysts, PointOne Capital    400000.0        None
4       Siana Capital Management, Info Edge    340000.0        None
...                                     ...         ...         ...
1050  DSG Consumer Partners, Blume Ventures   1500000.0        None
1051          Sequoia India, Ribbit Capital  13200000.0  Seed Round
1052                             Verlinvest   8000000.0        None
1053             SIG Global India Fund LLP.   8043000.0    Series C
1054                      Chiratae Ventures   9000000.0    Series A

[1055 rows x 9 columns]>

In [19]:
# 2. Fill missing values
 
# For columns with a few missing values, fill with 'Unknown'
data['HeadQuarter'].fillna('Unknown', inplace=True)
data['Sector'].fillna('Unknown', inplace=True)
data['Founders'].fillna('Unknown', inplace=True)
data['Investor'].fillna('Unknown', inplace=True)
 
# For 'Founded', fill missing values with the unknown
data['Founded'].fillna(0, inplace = True)

# For 'Amount', fill missing values with the median funding amount
data['Amount'].fillna(data['Amount'].median(), inplace=True)
 
# For 'Stage', fill missing values with a placeholder
data['Stage'].fillna('Unknown', inplace=True)

In [20]:
# 3. Treating the 'founded' as Year
# Convert 'Founded' to integer type
data['Founded'] = data['Founded'].astype(int)

In [21]:
# Ensuring the 'Amount' is Float
data['Amount'] = data['Amount'].astype(float)

In [22]:
# 4. Optimizing Memroy Usage
# Convert 'Stage' to categorical type
data['Stage'] = data['Stage'].astype('category')

In [23]:
# 5. Verifying the changes
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        1055 non-null   int32
 2   HeadQuarter    1055 non-null   object
 3   Sector         1055 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1055 non-null   object
 6   Investor       1055 non-null   object
 7   Amount         1055 non-null   float64
 8   Stage          1055 non-null   category
dtypes: category(1), float64(1), int32(1), object(6)
memory usage: 64.4+ KB

In [24]:
# 6. Identifying Duplicate Rows

duplicates = data[data.duplicated()]
print(duplicates)

    Company_Brand  Founded HeadQuarter                 Sector  \
145     Krimanshi     2015     Jodhpur  Biotechnology company
205         Nykaa     2012      Mumbai              Cosmetics
362        Byju’s     2011   Bangalore                 EdTech

                                          What_it_does         Founders  \
145  Krimanshi aims to increase rural income by imp...     Nikhil Bohra
205  Nykaa is an online marketplace for different b...    Falguni Nayar
362  An Indian educational technology and online tu...  Byju Raveendran

                                           Investor       Amount    Stage
145  Rajasthan Venture Capital Fund, AIM Smart City     600000.0     Seed
205                        Alia Bhatt, Katrina Kaif    3000000.0  Unknown
362           Owl Ventures, Tiger Global Management  500000000.0  Unknown

In [25]:
# 7. Remove duplicate rows
data = data.drop_duplicates()


# Verify that duplicates have been removed
print(data.duplicated().sum())

0

**Data 2 (2021)**

In [26]:
##Loading the second data
query = '''SELECT * FROM dbo.LP1_startup_funding2021'''

data2 = pd.read_sql(query, connection)

In [27]:
data2.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [28]:
data2.dtypes

Company_Brand     object
Founded          float64
HeadQuarter       object
Sector            object
What_it_does      object
Founders          object
Investor          object
Amount            object
Stage             object
dtype: object

In [29]:
## finding missing values
data2.isna().sum

<bound method DataFrame.sum of       Company_Brand  Founded  HeadQuarter  Sector  What_it_does  Founders  \
0             False    False        False   False         False     False
1             False    False        False   False         False     False
2             False    False        False   False         False     False
3             False    False        False   False         False     False
4             False    False        False   False         False     False
...             ...      ...          ...     ...           ...       ...
1204          False    False        False   False         False     False
1205          False    False        False   False         False     False
1206          False    False        False   False         False     False
1207          False    False        False   False         False     False
1208          False    False        False   False         False     False

      Investor  Amount  Stage
0        False   False  False
1        False   False   True
2        False   False  False
3        False   False  False
4        False   False  False
...        ...     ...    ...
1204     False   False  False
1205     False   False  False
1206     False   False  False
1207     False   False  False
1208     False   False  False

[1209 rows x 9 columns]>

In [30]:
print(data2.isna().sum())

Company_Brand      0
Founded            1
HeadQuarter        1
Sector             0
What_it_does       0
Founders           4
Investor          62
Amount             3
Stage            428
dtype: int64

In [31]:
##duplicates
data2.duplicated().sum()

19

In [32]:
data2.describe().T

          count         mean       std     min     25%     50%     75%     max
Founded  1208.0  2016.655629  4.517364  1963.0  2015.0  2018.0  2020.0  2021.0

In [33]:
data2.shape

(1209, 9)

In [34]:
data2.nunique()

Company_Brand    1033
Founded            30
HeadQuarter        70
Sector            254
What_it_does     1143
Founders         1095
Investor          937
Amount            278
Stage              31
dtype: int64

In [35]:
data2.info

<bound method DataFrame.info of        Company_Brand  Founded HeadQuarter                 Sector  \
0     Unbox Robotics   2019.0   Bangalore             AI startup
1             upGrad   2015.0      Mumbai                 EdTech
2        Lead School   2012.0      Mumbai                 EdTech
3            Bizongo   2015.0      Mumbai         B2B E-commerce
4           FypMoney   2021.0    Gurugram                FinTech
...              ...      ...         ...                    ...
1204        Gigforce   2019.0    Gurugram  Staffing & Recruiting
1205          Vahdam   2015.0   New Delhi       Food & Beverages
1206    Leap Finance   2019.0   Bangalore     Financial Services
1207    CollegeDekho   2015.0    Gurugram                 EdTech
1208          WeRize   2019.0   Bangalore     Financial Services

                                           What_it_does  \
0     Unbox Robotics builds on-demand AI-driven ware...
1        UpGrad is an online higher education platform.
2     LEAD School offers technology based school tra...
3     Bizongo is a business-to-business online marke...
4     FypMoney is Digital NEO Bank for Teenagers, em...
...                                                 ...
1204                  A gig/on-demand staffing company.
1205  VAHDAM is among the world’s first vertically i...
1206  International education loans for high potenti...
1207  Collegedekho.com is Student’s Partner, Friend ...
1208  India’s first socially distributed full stack ...

                                               Founders  \
0                           Pramod Ghadge, Shahid Memon
1     Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...
2                            Smita Deorah, Sumeet Mehta
3               Aniket Deb, Ankit Tomar, Sachin Agrawal
4                                         Kapil Banwari
...                                                 ...
1204                        Chirag Mittal, Anirudh Syal
1205                                         Bala Sarda
1206                         Arnav Kumar, Vaibhav Singh
1207                                       Ruchir Arora
1208                      Vishal Chopra, Himanshu Gupta

                                           Investor        Amount  \
0                       BEENEXT, Entrepreneur First    $1,200,000
1          Unilazer Ventures, IIFL Asset Management  $120,000,000
2                  GSV Ventures, Westbridge Capital   $30,000,000
3                            CDC Group, IDG Capital   $51,000,000
4     Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal    $2,000,000
...                                             ...           ...
1204                                Endiya Partners      $3000000
1205                                       IIFL AMC     $20000000
1206                                   Owl Ventures     $55000000
1207               Winter Capital, ETS, Man Capital     $26000000
1208                 3one4 Capital, Kalaari Capital      $8000000

             Stage
0     Pre-series A
1             None
2         Series D
3         Series C
4             Seed
...            ...
1204  Pre-series A
1205      Series D
1206      Series C
1207      Series B
1208      Series A

[1209 rows x 9 columns]>

**Data 3 (2019)**

In [36]:
# Loading the 3rd Data

data3= pd.read_excel (r"C:\Users\MERCY CHEBET\Projects\LP1 Project\LP1-Indian-Start-up\startup_funding2019.xlsx")

In [37]:
data3.head(10)

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,6300000,NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,150000000,Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey",28000000,Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...",30000000,Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),6000000,NaN
5,FlytBase,NaN,Pune,Technology,A drone automation platform,Nitin Gupta,Undisclosed,Undisclosed,NaN
6,Finly,NaN,Bangalore,SaaS,It builds software products that makes work si...,"Vivek AG, Veekshith C Rai","Social Capital, AngelList India, Gemba Capital...",Undisclosed,NaN
7,Kratikal,2013.0,Noida,Technology,It is a product-based cybersecurity solutions ...,"Pavan Kushwaha, Paratosh Bansal, Dip Jung Thapa","Gilda VC, Art Venture, Rajeev Chitrabhanu.",1000000,Pre series A
8,Quantiphi,NaN,NaN,AI & Tech,It is an AI and big data services company prov...,Renuka Ramnath,Multiples Alternate Asset Management,20000000,Series A
9,Lenskart,2010.0,Delhi,E-commerce,It is a eyewear company,"Peyush Bansal, Amit Chaudhary, Sumeet Kapahi",SoftBank,275000000,Series G

In [38]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [39]:
data3.isna().sum

<bound method DataFrame.sum of     Company/Brand  Founded  HeadQuarter  Sector  What it does  Founders  \
0           False     True         True   False         False     False
1           False    False        False   False         False     False
2           False     True        False   False         False     False
3           False    False        False   False         False     False
4           False    False        False   False         False     False
..            ...      ...          ...     ...           ...       ...
84          False     True        False   False         False     False
85          False    False        False   False         False     False
86          False    False        False   False         False     False
87          False    False        False   False         False     False
88          False     True        False   False         False     False

    Investor  Amount($)  Stage
0      False      False   True
1      False      False  False
2      False      False  False
3      False      False  False
4      False      False   True
..       ...        ...    ...
84     False      False  False
85     False      False   True
86     False      False  False
87     False      False   True
88     False      False   True

[89 rows x 9 columns]>

In [40]:
##duplicates
data3.duplicated().sum()

0

In [41]:
data3.nunique()

Company/Brand    87
Founded          12
HeadQuarter      17
Sector           52
What it does     88
Founders         85
Investor         86
Amount($)        50
Stage            15
dtype: int64

In [42]:
data3.isnull().sum

<bound method DataFrame.sum of     Company/Brand  Founded  HeadQuarter  Sector  What it does  Founders  \
0           False     True         True   False         False     False
1           False    False        False   False         False     False
2           False     True        False   False         False     False
3           False    False        False   False         False     False
4           False    False        False   False         False     False
..            ...      ...          ...     ...           ...       ...
84          False     True        False   False         False     False
85          False    False        False   False         False     False
86          False    False        False   False         False     False
87          False    False        False   False         False     False
88          False     True        False   False         False     False

    Investor  Amount($)  Stage
0      False      False   True
1      False      False  False
2      False      False  False
3      False      False  False
4      False      False   True
..       ...        ...    ...
84     False      False  False
85     False      False   True
86     False      False  False
87     False      False   True
88     False      False   True

[89 rows x 9 columns]>

In [43]:
data3.describe().T

         count         mean       std     min     25%     50%      75%     max
Founded   60.0  2014.533333  2.937003  2004.0  2013.0  2015.0  2016.25  2019.0

In [44]:
data3['Founded'].unique()

array([  nan, 2014., 2004., 2013., 2010., 2018., 2019., 2017., 2011.,
       2015., 2016., 2012., 2008.])

In [45]:
# replace NaN using np.nan

data3["Founded"].replace("nan", np.nan, inplace = True, regex=True)

#Change the datatype of Founded column from Float to int first to remove the decimal
# fill NaN rows with 0
data3['Founded'] = data3['Founded'].replace(np.nan, 0)
data3['Founded'] = data3['Founded'].astype(int)
data3['Founded']

0        0
1     2014
2        0
3     2014
4     2004
      ...
84       0
85    2013
86    2016
87    2015
88       0
Name: Founded, Length: 89, dtype: int32

In [46]:
# Check for number of unique values in Sector column
data3['Sector'].nunique()

52

In [47]:
# Check the unique values
data3['Sector'].unique()

array(['Ecommerce', 'Edtech', 'Interior design', 'AgriTech', 'Technology',
       'SaaS', 'AI & Tech', 'E-commerce', 'E-commerce & AR', 'Fintech',
       'HR tech', 'Food tech', 'Health', 'Healthcare', 'Safety tech',
       'Pharmaceutical', 'Insurance technology', 'AI', 'Foodtech', 'Food',
       'IoT', 'E-marketplace', 'Robotics & AI', 'Logistics', 'Travel',
       'Manufacturing', 'Food & Nutrition', 'Social Media', nan,
       'E-Sports', 'Cosmetics', 'B2B', 'Jewellery', 'B2B Supply Chain',
       'Games', 'Food & tech', 'Accomodation', 'Automotive tech',
       'Legal tech', 'Mutual Funds', 'Cybersecurity', 'Automobile',
       'Sports', 'Healthtech', 'Yoga & wellness', 'Virtual Banking',
       'Transportation', 'Transport & Rentals',
       'Marketing & Customer loyalty', 'Infratech', 'Hospitality',
       'Automobile & Technology', 'Banking'], dtype=object)

In [48]:
# Categorize sector column into less unique values
# Loop to get the values in the unique values in the Industry column

sector_name_list = data3['Sector'].tolist()

unique_sectors = []
for sector in sector_name_list:
    if sector not in unique_sectors:
        unique_sectors.append(sector)


        
for sector in unique_sectors:
    print(sector)

Ecommerce
Edtech
Interior design
AgriTech
Technology
SaaS
AI & Tech
E-commerce
E-commerce & AR
Fintech
HR tech
Food tech
Health
Healthcare
Safety tech
Pharmaceutical
Insurance technology
AI
Foodtech
Food
IoT
E-marketplace
Robotics & AI
Logistics
Travel
Manufacturing
Food & Nutrition
Social Media
nan
E-Sports
Cosmetics
B2B
Jewellery
B2B Supply Chain
Games
Food & tech
Accomodation
Automotive tech
Legal tech
Mutual Funds
Cybersecurity
Automobile
Sports
Healthtech
Yoga & wellness
Virtual Banking
Transportation
Transport & Rentals
Marketing & Customer loyalty
Infratech
Hospitality
Automobile & Technology
Banking

In [49]:
Agriculture = ['AgriTech',]

Marketing = ['Marketing & Customer loyalty']

Technology = ['Legal tech','Automotive tech','Cybersecurity','Automobile','Infratech','Automobile & Technology','Robotics & AI','E-marketplace','IoT','Foodtech','AI','Ecommerce','Technology','SaaS','AI & Tech','E-commerce','E-commerce & AR','Fintech','HR tech','Safety tech']

Bank_Fin = ['Mutual Funds','Virtual Banking','Banking']

Insurance = ['Insurance technology']

Food = ['Food tech','Food','Food & Nutrition','Food & tech']

Transport = ['Logistics','Travel','Transportation','Transport & Rentals']

Energy = ['Renewable Energy','Clean Energy','Energy']

Health = ['Pharmaceutical','Healthtech','Health']

Sport_Fit = ['Yoga & wellness','Sports','Yoga & wellness']

Manufacturing = ['Manufacturing']

Beauty = ['Cosmetics']

Info_media = ['Social Media','E-Sports','Games']

Services = ['Interior design','Accomodation']

Edu = ['Edtech']

Hospitality = ['Hospitality']

Fashion = ['Fashion','Eyewear','Jewellery']

B2B = ['B2B','B2B Supply Chain']

nan = ['nan']

In [50]:
# Write function to put values into new categories

def new_cat(Industry):
    if Industry in Marketing:
        return 'Marketing'
    elif Industry in Agriculture:
        return 'Agriculture'
    elif Industry in Bank_Fin:
        return 'Banking & Finance'
    elif Industry in Insurance:
        return 'Insurance'
    elif Industry in Technology:
        return 'Technology'
    elif Industry in Food:
        return 'Food & Beverage'
    elif Industry in Transport :
        return 'Logistics'
    elif Industry in Energy:
        return 'Energy'
    elif Industry in Health:
        return 'Health'
    elif Industry in Sport_Fit :
        return 'Sports & Fitness'
    elif Industry in Manufacturing:
        return 'Manufacturing'
    elif Industry in Beauty:
        return 'Beauty'
    elif Industry in Info_media:
        return 'Media & Entertainment'
    elif Industry in Services:
        return 'Services'
    elif Industry in Edu:
        return 'Education'
    elif Industry in nan:
        return 'NaN'
    elif Industry in Hospitality:
        return 'Hospitality'
    elif Industry in Fashion:
        return 'Fashion'
    elif Industry in B2B:
        return 'B2B'

In [51]:
# Apply function to Sector column for new categorization 
data3['Sector'] = data3['Sector'].apply(new_cat)
data3['Sector'].nunique()

17

In [52]:
# confirm the Sector names 
data3.head(20)

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,0,NaN,Technology,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,6300000,NaN
1,Ruangguru,2014,Mumbai,Education,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,150000000,Series C
2,Eduisfun,0,Mumbai,Education,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey",28000000,Fresh funding
3,HomeLane,2014,Chennai,Services,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...",30000000,Series D
4,Nu Genes,2004,Telangana,Agriculture,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),6000000,NaN
5,FlytBase,0,Pune,Technology,A drone automation platform,Nitin Gupta,Undisclosed,Undisclosed,NaN
6,Finly,0,Bangalore,Technology,It builds software products that makes work si...,"Vivek AG, Veekshith C Rai","Social Capital, AngelList India, Gemba Capital...",Undisclosed,NaN
7,Kratikal,2013,Noida,Technology,It is a product-based cybersecurity solutions ...,"Pavan Kushwaha, Paratosh Bansal, Dip Jung Thapa","Gilda VC, Art Venture, Rajeev Chitrabhanu.",1000000,Pre series A
8,Quantiphi,0,NaN,Technology,It is an AI and big data services company prov...,Renuka Ramnath,Multiples Alternate Asset Management,20000000,Series A
9,Lenskart,2010,Delhi,Technology,It is a eyewear company,"Peyush Bansal, Amit Chaudhary, Sumeet Kapahi",SoftBank,275000000,Series G
10,Cub McPaws,2010,Mumbai,Technology,A B2C brand that focusses on premium and comf...,"Abhay Bhat, Kinnar Shah",Venture Catalysts,Undisclosed,NaN
11,Appnomic,0,Bangalore,Technology,"It is a self-healing enterprise, the IT operat...",D Padmanabhan,Avataar Ventures,22000000,NaN
12,Kaleidofin,2018,Chennai,Technology,Platform that provides complete financial solu...,"Puneet Gupta, Sucharita Mukherjee",Oikocredit,5000000,Series A
13,JobSquare,2019,Ahmedabad,Technology,Technology-based platform that is connecting s...,Ishit Jethwa,Titan Capital,140500,NaN
14,Open Secret,0,NaN,Food & Beverage,It produces and sells top quality snacks,"Ahana Gautam, Udit Kejriwal",Matrix Partners,Undisclosed,NaN
15,LivFin,2017,Delhi,Technology,"Grants small business loans, supply chain fina...",Rakesh Malhotra,German development finance institution DEG,5000000,NaN
16,Byju's,2011,NaN,Education,Provides online learning classes,Byju Raveendran,"South Africa’s Naspers Ventures, the CPP Inves...",540000000,NaN
17,Zest Money,2015,Bangalore,Technology,Uses AI to do risk profiling of e-commerce con...,"Chapman, Priya Sharma, Ashish Anantharaman",Goldman Sachs.,15000000,Series B
18,Witblox,2014,NaN,Education,Offers a range of robotics learning tools,Amit Modi,Mumbai Angels Network,182700,NaN
19,Azah Personal Care Pvt. Ltd.,2018,Gurugram,Health,Aims to solve some problems in the feminine hy...,"Mohammed, Shashwat Diesh","Kunal Bahl, Rohit Bansal.",Undisclosed,Pre series A

In [53]:
# Exploring The Headquarters Column
data3['HeadQuarter'].unique()

array([nan, 'Mumbai', 'Chennai', 'Telangana', 'Pune', 'Bangalore',
       'Noida', 'Delhi', 'Ahmedabad', 'Gurugram', 'Haryana', 'Chandigarh',
       'Jaipur', 'New Delhi', 'Surat', 'Uttar pradesh', 'Hyderabad',
       'Rajasthan'], dtype=object)

In [54]:
# New Dehli is in Dehli so change all entries under New Dehli to Dehli

data3['HeadQuarter'].replace('New Delhi', 'Delhi', inplace=True)
data3[data3['HeadQuarter']=='New Delhi'].sum()

Company/Brand    0
Founded          0
HeadQuarter      0
Sector           0
What it does     0
Founders         0
Investor         0
Amount($)        0
Stage            0
dtype: object

In [55]:
# Exploring 'What it does' column
data3['What it does']

0            Provides a range of male grooming products
1     A learning platform that provides topic-based ...
2               It aims to make learning fun via games.
3                 Provides interior designing solutions
4     It is a seed company engaged in production, pr...
                            ...
84    It connects client requirements to their suppl...
85                  Provides rooms for comfortable stay
86    Find automobile repair and maintenance service...
87                                  Online car retailer
88                Organised Non-Banking Finance Company
Name: What it does, Length: 89, dtype: object

In [56]:
# 'What it does' column contains categorical data that will not be needed for this analysis so will be dropped
data3.drop(columns='What it does', axis=1,inplace = True)
data3.columns

Index(['Company/Brand', 'Founded', 'HeadQuarter', 'Sector', 'Founders',
       'Investor', 'Amount($)', 'Stage'],
      dtype='object')

In [57]:
# Exploring the Amount Column
data3['Amount($)']

0       6300000
1     150000000
2      28000000
3      30000000
4       6000000
        ...
84     20000000
85    693000000
86      5000000
87     50000000
88     33000000
Name: Amount($), Length: 89, dtype: object

In [58]:
# Function to clean and convert the Amount($) column
def clean_amount(amount):
    # Handle 'Undisclosed' and missing values
    if amount in ['Undisclosed', '', np.nan]:
        return np.nan
    # Remove non-numeric characters
    amount = ''.join(filter(str.isdigit, str(amount)))
    # Convert to float
    try:
        return float(amount)
    except ValueError:
        return np.nan

# Apply the function to the Amount($) column
data3['Amount($)'] = data3['Amount($)'].apply(clean_amount)

# Print the cleaned data
print(data3['Amount($)'])

0       6300000.0
1     150000000.0
2      28000000.0
3      30000000.0
4       6000000.0
         ...
84     20000000.0
85    693000000.0
86      5000000.0
87     50000000.0
88     33000000.0
Name: Amount($), Length: 89, dtype: float64

In [59]:
#replace all the 0 with the mean 
data3['Amount($)'].replace(to_replace= np.nan, value = data3['Amount($)'].mean(), inplace = True)

In [60]:
data3['Amount($)'].unique()

array([6.30000000e+06, 1.50000000e+08, 2.80000000e+07, 3.00000000e+07,
       6.00000000e+06, 4.33303013e+07, 1.00000000e+06, 2.00000000e+07,
       2.75000000e+08, 2.20000000e+07, 5.00000000e+06, 1.40500000e+05,
       5.40000000e+08, 1.50000000e+07, 1.82700000e+05, 1.20000000e+07,
       1.10000000e+07, 1.55000000e+07, 1.50000000e+06, 5.50000000e+06,
       2.50000000e+06, 1.40000000e+05, 2.30000000e+08, 4.94000000e+07,
       3.20000000e+07, 2.60000000e+07, 1.50000000e+05, 4.00000000e+05,
       2.00000000e+06, 1.00000000e+08, 8.00000000e+06, 1.00000000e+05,
       5.00000000e+07, 1.20000000e+08, 4.00000000e+06, 6.80000000e+06,
       3.60000000e+07, 5.70000000e+06, 2.50000000e+07, 6.00000000e+05,
       7.00000000e+07, 6.00000000e+07, 2.20000000e+05, 2.80000000e+06,
       2.10000000e+06, 7.00000000e+06, 3.11000000e+08, 4.80000000e+06,
       6.93000000e+08, 3.30000000e+07])

In [61]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        89 non-null     int32
 2   HeadQuarter    70 non-null     object
 3   Sector         83 non-null     object
 4   Founders       86 non-null     object
 5   Investor       89 non-null     object
 6   Amount($)      89 non-null     float64
 7   Stage          43 non-null     object
dtypes: float64(1), int32(1), object(6)
memory usage: 5.3+ KB

In [62]:
# Exploring the Founded Column
data3['Founded'].unique()

array([   0, 2014, 2004, 2013, 2010, 2018, 2019, 2017, 2011, 2015, 2016,
       2012, 2008])

In [63]:
data3['Founded'].isna().sum()

0

In [64]:
# Replace null values in Founded with median year
data3['Founded'].replace(to_replace = np.nan, value = data3['Founded'].median(), inplace = True)

In [65]:
data3['Founded'].isna().sum()

0

In [66]:
#Exploring Stage Column
data3['Stage'].unique()

array([nan, 'Series C', 'Fresh funding', 'Series D', 'Pre series A',
       'Series A', 'Series G', 'Series B', 'Post series A',
       'Seed funding', 'Seed fund', 'Series E', 'Series F', 'Series B+',
       'Seed round', 'Pre-series A'], dtype=object)

In [67]:
# checking for null values
data3['Stage'].isna().sum()

46

In [68]:
# Create new column Funding year to keep datasets identifiable
data3["Funding Year"] = "2019"

In [69]:
data3.head(15)

,Company/Brand,Founded,HeadQuarter,Sector,Founders,Investor,Amount($),Stage,Funding Year
0,Bombay Shaving,0,NaN,Technology,Shantanu Deshpande,Sixth Sense Ventures,6.300000e+06,NaN,2019
1,Ruangguru,2014,Mumbai,Education,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,1.500000e+08,Series C,2019
2,Eduisfun,0,Mumbai,Education,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey",2.800000e+07,Fresh funding,2019
3,HomeLane,2014,Chennai,Services,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...",3.000000e+07,Series D,2019
4,Nu Genes,2004,Telangana,Agriculture,Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),6.000000e+06,NaN,2019
5,FlytBase,0,Pune,Technology,Nitin Gupta,Undisclosed,4.333030e+07,NaN,2019
6,Finly,0,Bangalore,Technology,"Vivek AG, Veekshith C Rai","Social Capital, AngelList India, Gemba Capital...",4.333030e+07,NaN,2019
7,Kratikal,2013,Noida,Technology,"Pavan Kushwaha, Paratosh Bansal, Dip Jung Thapa","Gilda VC, Art Venture, Rajeev Chitrabhanu.",1.000000e+06,Pre series A,2019
8,Quantiphi,0,NaN,Technology,Renuka Ramnath,Multiples Alternate Asset Management,2.000000e+07,Series A,2019
9,Lenskart,2010,Delhi,Technology,"Peyush Bansal, Amit Chaudhary, Sumeet Kapahi",SoftBank,2.750000e+08,Series G,2019
10,Cub McPaws,2010,Mumbai,Technology,"Abhay Bhat, Kinnar Shah",Venture Catalysts,4.333030e+07,NaN,2019
11,Appnomic,0,Bangalore,Technology,D Padmanabhan,Avataar Ventures,2.200000e+07,NaN,2019
12,Kaleidofin,2018,Chennai,Technology,"Puneet Gupta, Sucharita Mukherjee",Oikocredit,5.000000e+06,Series A,2019
13,JobSquare,2019,Ahmedabad,Technology,Ishit Jethwa,Titan Capital,1.405000e+05,NaN,2019
14,Open Secret,0,NaN,Food & Beverage,"Ahana Gautam, Udit Kejriwal",Matrix Partners,4.333030e+07,NaN,2019

**Data 4 (2018)**

In [70]:
#Loading the 4th dataset
data4 = pd.read_csv(r"C:\Users\MERCY CHEBET\Projects\LP1 Project\LP1-Indian-Start-up\startup_funding2018.csv")

In [71]:
data4.head(15)

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...
5,Hasura,"Cloud Infrastructure, PaaS, SaaS",Seed,1600000,"Bengaluru, Karnataka, India",Hasura is a platform that allows developers to...
6,Tripshelf,"Internet, Leisure, Marketplace",Seed,"₹16,000,000","Kalkaji, Delhi, India",Tripshelf is an online market place for holida...
7,Hyperdata.IO,Market Research,Angel,"₹50,000,000","Hyderabad, Andhra Pradesh, India",Hyperdata combines advanced machine learning w...
8,Freightwalla,"Information Services, Information Technology",Seed,—,"Mumbai, Maharashtra, India",Freightwalla is an international forwarder tha...
9,Microchip Payments,Mobile Payments,Seed,—,"Bangalore, Karnataka, India",Microchip payments is a mobile-based payment a...
10,BizCrum Infotech Pvt. Ltd.,"B2B, Shoes",Seed,—,"Delhi, Delhi, India",Building Transactionary B2B Marketplaces
11,Emojifi,Internet,Seed,—,"Bengaluru, Karnataka, India","Emojifi is an app that provides live emoji, st..."
12,Flock,"Apps, Collaboration, Developer Platform, Enter...",Seed,—,"India, Asia",Flock is a real-time messaging and collaborati...
13,Freshboxx,Food Delivery,Seed,—,"Hubli, Karnataka, India","Freshboxx is incubated at Sandbox Startups, a ..."
14,Wide Mobility Mechatronics,Industrial Automation,Seed,—,"Bangalore, Karnataka, India",Wide Mobility Mechatronics is a Private Compan...

In [72]:
data4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [73]:
# Check for missing values
data4.isnull().sum()

Company Name     0
Industry         0
Round/Series     0
Amount           0
Location         0
About Company    0
dtype: int64

Exploring 2018 data which has some missing data replaced by dashes(-) in multiple columns

In [74]:
# Find the missing values
data4[data4['Industry']=='—']

,Company Name,Industry,Round/Series,Amount,Location,About Company
58,MissMalini Entertainment,—,Seed,"₹104,000,000","Mumbai, Maharashtra, India",MissMalini Entertainment is a multi-platform n...
105,Jagaran Microfin,—,Debt Financing,"₹550,000,000","Kolkata, West Bengal, India",Jagaran Microfin is a Microfinance institution...
121,FLEECA,—,Seed,—,"Jaipur, Rajasthan, India",FLEECA is a Tyre Care Provider company.
146,WheelsEMI,—,Series B,"$14,000,000","Pune, Maharashtra, India","WheelsEMI is the brand name of NBFC, WheelsEMI..."
153,Fric Bergen,—,Venture - Series Unknown,—,"Alwar, Rajasthan, India",Fric Bergen is a leader in the specialty food ...
174,Deftouch,—,Seed,—,"Bangalore, Karnataka, India",Deftouch is a mobile game development company ...
181,Corefactors,—,Seed,—,"Bangalore, Karnataka, India","Corefactors is a leading campaign management, ..."
210,Cell Propulsion,—,Seed,"₹7,000,000","Bangalore, Karnataka, India",Cell Propulsion is an electric mobility startu...
230,Flathalt,—,Angel,50000,"Gurgaon, Haryana, India",FInd your Customized Home here.
235,dishq,—,Seed,400000,"Bengaluru, Karnataka, India",dishq leverages food science and machine learn...
238,Trell,—,Seed,1250000,"Bangalore City, Karnataka, India",Trell is a location based network which helps ...
242,HousingMan.com,—,Seed,"₹103,000,000","Bengaluru, Karnataka, India","New Apartments, Flats for Sale in Bangalore"
243,Steradian Semiconductors,—,Seed,—,"Bangalore, Karnataka, India",It is a fabless semiconductor company focused ...
247,SaffronStays,—,Seed,2000000,"Mumbai, Maharashtra, India",SaffronStays connects travellers to India's In...
251,Inner Being Wellness,—,Angel,"₹35,000,000","Hyderabad, Andhra Pradesh, India","Inner Being Wellness manufactures beauty, well..."
257,MySEODoc,—,Seed,—,"Delhi, Delhi, India","SEO, PPC, Search Engine Marketing, Social Medi..."
258,ENLYFT DIGITAL SOLUTIONS PRIVATE LIMITED,—,Seed,"₹200,000","Pune, Maharashtra, India",Digital Marketing Agency
259,Scale Labs,—,Seed,1000000,"Delhi, Delhi, India",Scale Labs is a cross border e-commerce soluti...
294,Roadcast,—,Angel,250000,"New Delhi, Delhi, India",Transforming the way businesses deliver. Work-...
325,Toffee,—,Seed,1500000,"Gurgaon, Haryana, India","Toffee is a bite size, micro-event & contextua..."
326,ORO Wealth,—,Series A,1600000,"Mumbai, Maharashtra, India",Online wealth management platform
346,Finwego,—,Seed,—,"Chennai, Tamil Nadu, India",Finwego partners with Small and Medium Busines...
398,Cred,—,Seed,—,"Bengaluru, Karnataka, India",Cred is a platform to celebrate and reward the...
457,Origo,—,Venture - Series Unknown,"₹800,000,000","Gurgaon, Haryana, India","Origo Commodities, a complete post-harvest man..."
472,Sequretek,—,Venture - Series Unknown,3700000,"Mumbai, Maharashtra, India",Sequretek is a cyber security start-up.
473,Avenues Payments India Pvt. Ltd.,—,Corporate Round,1300000,"Mumbai, Maharashtra, India",Avenues Payments is an IT solutions provider f...
476,Planet11 eCommerce Solutions India (Avenue11),—,Corporate Round,"₹260,000,000","Bengaluru, Karnataka, India","Planet11 is backed by SK Planet, which is a pa..."
478,Iba Halal Care,—,Series A,"₹150,000,000","Ahmedabad, Gujarat, India",Iba Halal Care is a cosmetics brand company.
480,Togedr,—,Venture - Series Unknown,—,"Gurgaon, Haryana, India",Togedr is an activity discovery & booking plat...
510,Scholify,—,Pre-Seed,—,"Bengaluru, Karnataka, India",Edutech

In [75]:
# Replace Dashes(-) in all columns with NaN
data4 = data4.replace('—',np.nan)

In [76]:
##confirm the "-"
# Find the missing values
data4[data4['Industry']=='—']

Empty DataFrame
Columns: [Company Name, Industry, Round/Series, Amount, Location, About Company]
Index: []

In [77]:
# Exploring 'About Company' column
data4['About Company'].head()

0    TheCollegeFever is a hub for fun, fiesta and f...
1    A startup which aggregates milk from dairy far...
2            Leading Online Loans Marketplace in India
3    PayMe India is an innovative FinTech organizat...
4    Eunimart is a one stop solution for merchants ...
Name: About Company, dtype: object

In [78]:
#About Company' column has categorical data that will not be needed for the analysis and can be dropped
data4.drop(columns='About Company', axis=1,inplace = True)
data4.columns

Index(['Company Name', 'Industry', 'Round/Series', 'Amount', 'Location'], dtype='object')